<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.lx.yht">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/SDKAppTheme"
        tools:replace="android:allowBackup">

        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ConfirmActivity"
            android:configChanges="orientation|screenSize" />
        <activity
            android:name=".ContractListActivity"
            android:configChanges="orientation|screenSize" />

        <!--注册从云合同开发者平台注册的AppId-->
        <meta-data
            android:name="YhtSdk_AppId"
            android:value="id_请到云合同开发平台申请appId" />
    </application>

</manifest>